@use "../abstracts"as *;

body {
    background: var(--clr-background);
    color: var(--clr-text);
    font-family: system-ui, sans-serif;
    overflow-x: hidden;
    position: relative;
    transition: background-color 0.4s ease, color 0.4s ease;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

.content {
    flex: 1;
    padding: var(--spc-5) var(--spc-7);
}

section {
    margin: var(--spc-7) 0;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.7s ease;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    h2 {
        font-size: var(--fs-700);
        margin-bottom: var(--spc-4);
    }
}
