@keyframes floatParticle {
    0%, 100% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-40px) translateX(20px);
    }
}

@keyframes expandDarkMode {
    from {
        clip-path: circle(0% at var(--x, 0) var(--y, 0));
    }
    to {
        clip-path: circle(150% at var(--x, 0) var(--y, 0));
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}